<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1 class="promocoes">
                Promoções
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-around mt-5">
            <h1 class="nameBurguer">X Salada</h1>
            <h1 class="nameBurguer">X Frango</h1>
            <h1 class="nameBurguer">X Bacon</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-around">
            <div class="card">
                <img src="../assets/x-salada-2.png" class="lanches shadow" alt="...">
            </div>
        
            <div class="card">
                <img src="../assets/x-frango.png" class="lanches shadow" alt="...">
            </div>
        
            <div class="card">
                <img src="../assets/bacon&cheddar.png" class="lanches shadow" alt="...">
            </div>
        </div>
    </div>
</div>

