<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <form class="form1">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" [(ngModel)]="username" name="first">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Senha</mat-label>
                    <input type="password" matInput placeholder="Senha" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="btns">
                <button class="btn1" mat-raised-button color="primary" (click)="logar()"><span class="text-button">Entrar</span></button>
                <button class="btn2" mat-raised-button color="primary" (click)="registrar()"><span class="text-button">Cadastrar</span></button>
            </div>
        </div>
    </div>

</div>