.container{
  width: 100%;
  background: rgba(137, 106, 226);
}

.form1 {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 300px;
}

.btn2{
  margin-left: 320px; 
}
 
.form2 {
  min-width: 150px;
  max-width: 400px;
  background: rgba(137, 106, 226);
  
}

.forms{
  margin-top: 20px;
}

.example-full-width {
    width: 100%;
}

.btns{
  margin-bottom: 20px;

}

.text-button{
  color: #eff307;
}
